# Local Netlify folder
.netlify
dynamodb/*
dynamodb
.serverless
user-json.json
node_modules
.vscode
__pycache__
test_events
.venv
.python-version
backend/layers/magnum/*
backend/layers/fastapi/*
backend/layers/include
